body{
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

/*MENU*/

header {
  padding: 50px 200px;
  font-family: 'Segoe UI', Roboto, sans-serif;
  color: white;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
}
#menu-esquerda ul, #menu-direita ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  
  }
#menu-esquerda ul li a, #menu-direita ul li a{
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 1rem;  
}

#menu-direita ul li .assinar{
  color: white;
  text-align: center;
  background-color: #103849;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(34, 34, 34, 0.233); 
  font-weight: 600;
}
#menu-direita ul li .assinar:hover{
  opacity: 0.7;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);   
  transform: translateY(-2px); 
}

/*APRESENTAÇÃO*/

#container {
  background-color: #1f1f1f;
  margin: 0;
  padding: 0px 250px;
  font-family: 'Segoe UI', Roboto, sans-serif;
  color: white;
}

#main {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 3.75rem; 
}
#main p{
  margin-bottom: 40px;
  margin-top: 0px;
  font-size: 1.5rem;
}
#main a{
  width: 150px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: white;
  background-color: #103849;
  padding: 15px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(34, 34, 34, 0.233);
  font-size: 1.2rem;
}
#main a:hover{
  opacity: 0.7;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
  transform: translateY(-2px); 
}

/*COMO FUNCIONA*/

h2{
 font-size: 1.5em; 
 color: white;
 text-align: center;
 margin-top:50px;
}

h3{
 font-size: 1em; 
 color: white;
 text-align: center;
}

hr{
  opacity: 0.4;
  margin: 30px auto;
}

.titles{
  width: 800px;
  margin: auto;
}

#como-funciona #video{
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}

/* CURSOS */

#cursos #pricing{

flex-wrap: wrap;
max-width: 1000px;      /* largura máxima da área */
margin: 50px auto;        /* centraliza na tela */
gap:15px;
}

#cursos .plano {
  flex: 0 0 25%;  
  
}

/*TABELA DE PREÇOS*/

#pricing {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin: 50px 0 50px 0px;
}

.plano{
  border-radius: .6rem;
  width: 300px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  border: 0.5px solid rgba(255, 255, 255, 0.519);
}
.plano h4 span {
  font-size: 10px;
  color:#29CC57;
}
.plano .price{
  font-size: 28px;
  margin: 0;
  font-weight: 600;
  
}
.plano .price span{
  font-size: 13px;
  font-weight: 400;
  
}
.plano .subtext {
  font-size: 12px;
  opacity: 0.9;
  margin-top: 0;
}

.plano .assinar{
  text-decoration: none;
  color: white;
  margin: auto;
  width: 280px;
  text-align: center;
  background-color: #103849;
  padding: 10px;
  border-radius: 0.5rem;
  margin-top: 15px;
  box-shadow: 0 4px 6px rgba(34, 34, 34, 0.233);
}
.plano .assinar:hover{
  opacity: 0.7;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
  transform: translateY(-2px); 
}

.plano ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 15px;
}

.plano ul li::before{
  content: '✔'; /* Use o caractere Unicode para o ícone de check */
  color: white; /* Cor verde para o ícone */
  display: inline-block; 
  margin-bottom: 5px;
  width:1.2em; /* Garante que o ícone tenha um espaçamento fixo */
  font-size: 13px;
  }

/*DÚVIDAS FREQUENTES*/
.QA{
  margin: 50px 100px;
}

.question{
  font-weight: 600;
}

.answer{
  opacity: 0.6;
}

#contato {
  margin: 0 100px;
  padding: 0;
  
  }

#contato #p-up{
  margin: 0;
  opacity: 0.6;  
}
#contato #p-down{
  margin: 0;
  font-size: 2em;
  display: inline-block;
}
#contato a{
  margin-left: 15px;
  background-color: #7c7c7c;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 0.5rem;  
  
}

#contato a:hover{
  background-color: #4e4b4b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  
}
/*RODAPÉ*/

footer p{
  font-size: 10px;
  text-align: center;
  margin-bottom: 30px;
}

/*CAIXINHA DE FEEDBACK*/

#feedback {
  width: 300px;
  border: 1px solid #615E5E;
  padding: 10px 0px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

#feedback ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 8px;
  margin-bottom: 15px;
}

#feedback ul li button { 
  border-radius: 50%;
  background-color: white;
  border: 1px solid #363636;
  color: #363636;
  
  transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

#feedback ul li button:hover { 
  border-radius: 50%;
  background-color: #363636;
  border: 1px solid #363636;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

#feedback #ignorar {
    color: #363636;
    background:none;
    border:none;
}

#feedback #enviar{
    color: white;
    border-radius: 5px;
    background-color: #103849;
    width: 80px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    text-decoration: none;
    /* Adiciona uma transição suave para as animações */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }

#feedback #enviar:hover{
  background-color: #103849e5;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra um pouco maior */
  transform: translateY(-2px); /* Eleva o botão levemente */ 
   }

#feedback #ignorar:hover{
 color:#222222;
}