:root {
  --azul-vla: #103849;
  --preto-claro: #1f1f1f;
  --branco: white;
  --verde-vla: #29cc57;
  --preto-dark: #111111;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--preto-dark);
  font-family: "Segoe UI", Roboto, sans-serif;
  color: var(--branco);
}

/*MENU*/
header {
  background-color: var(--preto-dark);
  width: 100%;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;

  display: flex;
  justify-content: center;

  border-bottom: 1px solid var(--preto-claro);
}

#menu ul {
  list-style-type: none;
  display: flex;
}
#menu ul li a {
  text-decoration: none;
  color: var(--branco);
  display: block;
  text-align: center;
  padding: 1rem;
}
#menu ul li .assinar {
  color: var(--branco);
  background-color: var(--azul-vla);
  border-radius: 0.5rem;
  box-shadow: 0 rgba(34, 34, 34, 0.233);
  font-weight: 600;
}
#menu ul li .assinar:hover {
  opacity: 0.7;
  box-shadow: 0 rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}



/*GENERAL*/
main {
  width: 60%;
  margin: 9rem auto 0;
}

h1 {
  font-size: 3rem;
  border-bottom: 0.4rem solid var(--verde-vla);
  margin-bottom: 0;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

hr {
  opacity: 0.4;
  margin: 3rem auto;
  color: var(--preto-claro);
}

/*SEÇÕES - GENERAL*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.titles {
  text-align: center;
}

.span-verde {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--verde-vla);
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }

  .titles {
    width: 95%;
  }
}

/*APRESENTAÇÃO*/

#main a {
  width: 30%;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: var(--branco);
  background-color: var(--verde-vla);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(34, 34, 34, 0.233);
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
#main a:hover {
  opacity: 0.7;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

@media (max-width: 450px) {
  #main a {
    width: 90%;
  }
}

/* COMO FUNCIONA */

iframe {
  width: 560px;
  height: 315px;
}

@media (max-width: 768px) {
  iframe {
    max-width: 100%;
  }
}

/* CURSOS */

#cursos-pai {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.cursos-filho {
  border-radius: 0.6rem;
  width: 40%;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: 0.5px solid rgba(255, 255, 255, 0.519);
  background-color: var(--preto-claro);
}

@media (max-width: 800px) {
  #cursos .cursos-filho {
    flex-direction: column;
    width: 80%;
  }
}

/*TABELA DE PREÇOS*/

#plano-pai {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.plano-filho {
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  border: 0.5px solid rgba(255, 255, 255, 0.519);
  background-color: var(--preto-claro);
}

@media (max-width: 768px) {
  .plano-filho {
    flex-direction: column;
    width: 80%;
  }
}

.plano-filho .price {
  font-size: 2.2rem;
  margin: 0;
  font-weight: 600;
}
.plano-filho .price span {
  font-size: 1.2rem;
  font-weight: 400;
}
.plano-filho .subtext {
  font-size: 0.8rem;
  opacity: 0.9;
  margin-top: 0;
}

.plano-filho .assinar {
  text-decoration: none;
  color: var(--branco);
  width: 100%;
  text-align: center;
  background-color: var(--azul-vla);
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  box-shadow: 0 4px 6px rgba(34, 34, 34, 0.233);
}
.plano-filho .assinar:hover {
  opacity: 0.7;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.plano-filho ul {
  list-style-type: none;
  padding-left: 0;
}

.plano-filho ul li::before {
  content: "✔"; /* Use o caractere Unicode para o ícone de check */
  color: var(--branco); /* Cor verde para o ícone */
  display: inline-block;
  margin-bottom: 5px;
  width: 1.2em; /* Garante que o ícone tenha um espaçamento fixo */
}

/*DÚVIDAS FREQUENTES*/

#faq {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.QA {
  width: 90%;
}

.question {
  font-weight: 600;
}

.answer {
  opacity: 0.6;
}

#faq a {
  background-color: var(--preto-claro);
  text-decoration: none;
  color: var(--branco);
  padding: 0.9rem;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  margin: auto;
}

#faq a:hover {
  background-color: var(--preto-claro);;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  opacity: 0.7;
}
/*RODAPÉ*/

footer p {
  font-size: 0.9rem;
  text-align: center;

}

/*CAIXINHA DE FEEDBACK*/

#feedback {
  width: 300px;
  border: 1px solid #615e5e;
  padding: 10px 0px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  font-family: "Segoe UI", Roboto, sans-serif;
}

#feedback ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 8px;
  margin-bottom: 15px;
}

#feedback ul li button {
  border-radius: 50%;
  background-color: var(--branco);
  border: 1px solid #363636;
  color: #363636;

  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

#feedback ul li button:hover {
  border-radius: 50%;
  background-color: #363636;
  border: 1px solid #363636;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

#feedback #ignorar {
  color: #363636;
  background: none;
  border: none;
}

#feedback #enviar {
  color: white;
  border-radius: 5px;
  background-color: var(--azul-vla);
  width: 80px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  text-decoration: none;
  /* Adiciona uma transição suave para as animações */
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

#feedback #enviar:hover {
  background-color: var(--azul-vla);
  opacity: 0.5;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra um pouco maior */
  transform: translateY(-2px); /* Eleva o botão levemente */
}

#feedback #ignorar:hover {
  color: #222222;
}
